@import "reset.css";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__title {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* background-color: aqua; */
}

.background {
	width: 300px;
	height: 700px;
	left: 50px;
	top: 100px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Remove position:absolute */
}

.background__title {
	width: 140px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background__title img {
	width: 140px;
	height: 140px;
}

.background__options {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.background__options--1 {
	margin-left: 10px;
}

.background__options--2 {
	margin-right: 10px;
}

.background__option img {
	border: 2px solid #f5b197;
	border-radius: 10px;
	width: 120px;
	height: 120px;
}

/* Remove position absolute and align them with flexbox */
.main__drawing__canvas--background,
.main__drawing__canvas--bokdong {
	width: 700px;
	height: 700px;
	left: 400px;
	top: 100px;
	position: absolute;
	background-color: white;
	border: 2px solid #f5b197;
	border-radius: 15px;
}

.main__drawing__canvas--bokdong {
	background-color: transparent;
	z-index: 1;
}

.bokdong {
	width: 300px;
	height: 700px;
	display: flex;
	left: 1140px;
	top: 100px;
	position: absolute;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* background-color: antiquewhite; */
}

.bokdong__title img {
	width: 140px;
	height: 140px;
}

.bokdong__options {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bokdong__option img {
	width: 120px;
	height: 120px;
}

.bokdong__eraser {
	display: none;
}

.bokdong__size {
	display: none;
}

.main__button {
	width: 700px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}


